<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{%  static 'favicon.ico' %}">


    <title>Matching Site</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/signin.css' %}"  />
  </head>

  <body class="text-center">

    <form class="form-signin">
      <img id='profile-img' height=150 src="{% static 'mainapp/robin.gif' %}"></img>
      <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">

      <h1 class="h3 mb-3 font-weight-normal">Matching Site</h1>

      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

      <div class="btn-group">
      <a href="{% url 'signup' %}" class="btn btn-space btn-lg btn-primary">Sign up</a>
      <a href="{% url 'login' %}" class="btn btn-space btn-lg btn-primary">Log in</a>

      <button class="btn btn-space btn-lg btn-primary " type="button" >Register</button>
      <button class="btn btn-space btn-lg btn-primary " type="submit" >Sign in</button>

      </div>
      <p class="mt-5 mb-3 text-muted">&copy; S</p>
    </form>
  </body>
</html>
